# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# kbc datafolder
data/
/data

# tests source out contents
tests/source/**/data/out/files/**
tests/source/**/data/out/tables/**

.vscode
.DS_Store
jsconfig.json
.idea
**/__pycache__/**