# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# kbc datafolder
/data

# tests source out contents
tests/functional/**/source/data/out/files/**
tests/functional/**/source/data/out/tables/**

.vscode
.DS_Store
jsconfig.json
.idea
**/__pycache__/**

